---
import Clean from "../layouts/Clean.astro";
---

<Clean title="404 Página no encontrada">
	<section>
		<div class="container-fluid">
			<div class="h-screen flex justify-center items-center 2xl:px-0 px-5">
				<div class="block text-center">
					<!-- <img class="block rounded-xl 2xl:w-60 w-32 m-auto mb-10" src="assets/img/valent-art.jpg"> -->
					<h1 class="block 2xl:text-4xl text-xl font-semibold mb-5 dark:text-white">Nos encontramos en aguas
						inexploradas.
					</h1>
					<h6 class="2xl:text-lg text-gray-800 dark:text-gray-400 font-light mb-16">Es posible que el enlace esté
						roto o que hayamos eliminado la página.
					</h6>
					<a class="text-center block w-2/5 m-auto bg-blue-500 rounded-full py-3 px-6 text-white transition-opacity
					2xl:text-xl font-semibold
					hover:bg-blue-600" href="/">
						Volver al Inicio
					</a>
				</div>
			</div>
		</div>
	</section>
</Clean>