---
import Layout from "../layouts/Layout.astro";
import { supabase } from "../lib/supabase";

const { cookies, redirect } = Astro;

const accessToken = cookies.get("sb-access-token");
const refreshToken = cookies.get("sb-refresh-token");

if (!accessToken || !refreshToken) {
    return redirect("/signin");
}

const { data, error } = await supabase.auth.setSession({
    refresh_token: refreshToken.value,
    access_token: accessToken.value,
});

if (error) {
    cookies.delete("sb-access-token", {
        path: "/",
    });
    cookies.delete("sb-refresh-token", {
        path: "/",
    });

    return redirect("/signin");
}

const email = data?.user?.email;
---

<Layout title="dashboard">
    <div class="mt-20"></div>
    <h1>Welcome {email}</h1>
    <p>We are happy to see you here</p>
    <form action="/api/auth/signout">
        <button type="submit">Sign out</button>
    </form>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequuntur, fuga quasi beatae ad adipisci consequatur delectus aliquam tempora deserunt odio laudantium? Eum, sapiente sequi alias repellendus itaque quis adipisci omnis assumenda debitis nam est pariatur cupiditate! Facilis consectetur distinctio magnam? Quisquam alias officia pariatur laudantium harum fugiat quidem! Distinctio maiores veniam ipsam atque nulla nemo unde, et id fugit vel dolorum nihil, quasi explicabo quibusdam, recusandae tenetur similique assumenda nesciunt expedita eius voluptatem dolorem magni accusamus pariatur. Laudantium eos ducimus odio fugiat voluptas ea laborum quisquam perspiciatis nemo, culpa natus sit reprehenderit a beatae ex facilis consequuntur tempore aliquam similique quis temporibus nisi fuga saepe. Doloremque, modi hic vero quae quo voluptatibus culpa praesentium totam enim molestiae assumenda ab possimus sequi, recusandae facilis!</p>
</Layout>
