---
import Layout from "../layouts/Layout.astro"
---

<Layout title="Inicio">
    <section
	class="container mx-auto mt-24 bg-white dark:bg-black bg-[url('https://flowbite.s3.amazonaws.com/docs/jumbotron/hero-pattern.svg')] dark:bg-[url('https://flowbite.s3.amazonaws.com/docs/jumbotron/hero-pattern-dark.svg')]">
	<div class="py-8 px-4 mx-auto max-w-screen-xl text-center lg:py-16 z-10 relative">
		<!-- <a href="#"
            class="inline-flex justify-between items-center py-1 px-1 pe-4 mb-7 text-sm text-blue-700 bg-blue-100 rounded-full dark:bg-blue-900 dark:text-blue-300 hover:bg-blue-200 dark:hover:bg-blue-800">
            <span class="text-xs bg-blue-600 rounded-full text-white px-4 py-1.5 me-3">Nuevo</span> <span
                class="text-sm font-medium">Servicio de prototipado</span>
            <svg class="w-2.5 h-2.5 ms-2 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                fill="none" viewBox="0 0 6 10">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="m1 9 4-4-4-4" />
            </svg>
        </a> -->
		<h1
			class="alibaba mb-4 text-4xl font-semibold tracking-tight leading-none text-black md:text-5xl lg:text-6xl dark:text-white">
			Prototipa tus Ideas</h1>
		<p class="mb-8 text-lg font-normal text-gray-500 lg:text-xl sm:px-16 lg:px-48 dark:text-gray-200">Aplicaciones
			móviles,
			sitios web, landing-pages, dashboards y más!</p>
		<h1
			class="font-bold text-transparent md:text-xl text-xl bg-clip-text bg-gradient-to-r from-[#be22ff] via-[#ff279c] to-[#ff981f] mb-2 w-fit m-auto">
			Diseño que inspira
		</h1>

		<img class="h-auto w-full m-auto rounded-lg animated-banner"
			src="/img/prototype/crm-kanban.png" alt="CRM Kanban Leads">

	</div>
	<div class="bg-gradient-to-b from-slate-50 to-transparent dark:from-black w-full h-96 absolute top-0 left-0 z-0">
	</div>
</section>

<section class="container mx-auto my-16 text-center">
	<h5 class="mb-2 text-2xl font-bold dark:text-white">Un prototipo ahorra incontables reuniones y previene costosos
		errores de inversión.</h5>
	<a href="https://www.pinterest.es/valentramos" target="_blank"
		class="inline-flex items-center font-medium text-blue-500 hover:underline">
		Ver portafolio
		<svg class="w-4 h-4 ms-2 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
			viewBox="0 0 14 10">
			<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
				d="M1 5h12m0 0L9 1m4 4L9 9" />
		</svg>
	</a>
</section>

<section class="container mx-auto my-16">
 <div class="grid lg:grid-cols-2 md:grid-cols-2 grid-cols-1 items-center">
	<div class="m-auto p-10">
		<img class="h-auto max-w-full rounded-md animated-img" src="/img/prototype/bolivar.png" alt="">
		<!-- <iframe class="rounded-xl animated-banner" width="200" height="427" src="https://xd.adobe.com/embed/b479169f-c677-4ea7-bef0-febf0a7d4558-e12a/?fullscreen&hints=off" frameborder="0" allowfullscreen></iframe> -->
		<!-- <iframe class="rounded-xl" width="195" height="422" src="https://xd.adobe.com/embed/18b7fea6-ca75-4a78-b199-6b2c35350673-4de4/" frameborder="0" allowfullscreen></iframe> -->
	</div>
	<div>
		<h5 class="font-bold text-transparent text-3xl bg-clip-text bg-gradient-to-r from-[#ffd756] via-[#e2fe5c] to-[#27fdbe] mb-2 w-fit">
			Agilidad 
		</h5>
		<p class="mb-3 text-gray-500 dark:text-gray-200">El proceso de prototipado asegura una transición suave y eficiente de la idea al prototipo, adaptándose rápidamente a tus necesidades y feedback.</p>
		<h5 class="font-bold text-transparent text-3xl bg-clip-text bg-gradient-to-r from-[#05e6a9] via-[#02abd7] to-[#016ce4] mb-2 w-fit">
			Interactividad 
		</h5>
		<p class="mb-3 text-gray-500 dark:text-gray-200">Experimenta una interacción casi real con prototipos interactivos que te permiten sentir el producto antes de cualquier inversión en desarrollo.</p>
	</div>
 </div>
</section>

<section class="container mx-auto my-16">
	<div class="grid grid-cols-2 md:grid-cols-3 gap-4">
		<div>
			<img class="h-auto max-w-full rounded-md animated-img" src="/img/prototype/bolivar.png" alt="">
		</div>
		<div>
			<img class="h-auto max-w-full rounded-md animated-img" src="/img/prototype/capcem.png" alt="">
		</div>
		<div>
			<img class="h-auto max-w-full rounded-md animated-img" src="/img/prototype/cies.png" alt="">
		</div>
		<div>
			<img class="h-auto max-w-full rounded-md animated-img" src="/img/prototype/dobo.png" alt="">
		</div>
		<div>
			<img class="h-auto max-w-full rounded-md animated-img" src="/img/prototype/oit.png" alt="">
		</div>
		<div>
			<img class="h-auto max-w-full rounded-md animated-img" src="/img/prototype/utha.png" alt="">
		</div>
	</div>	
</section>

<section class="container mx-auto my-16" id="accordion-open" data-accordion="open">
	<h5 class="mb-5 text-2xl text-center font-bold dark:text-white">¿Preguntas? Tenemos respuestas.</h5>
	<h2 id="accordion-open-heading-1">
		<button type="button"
			class="flex items-center justify-between w-full p-5 font-medium rtl:text-right text-gray-500 border border-b-0 border-gray-200 rounded-t-xl focus:ring-4 focus:ring-gray-200 dark:focus:ring-zinc-800 dark:border-zinc-700 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-zinc-900 dark:bg-zinc-900 gap-3"
			data-accordion-target="#accordion-open-body-1" aria-expanded="true" aria-controls="accordion-open-body-1">
			<span class="flex items-center"><svg class="w-5 h-5 me-2 shrink-0" fill="currentColor" viewBox="0 0 20 20"
					xmlns="http://www.w3.org/2000/svg">
					<path fill-rule="evenodd"
						d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-3a1 1 0 00-.867.5 1 1 0 11-1.731-1A3 3 0 0113 8a3.001 3.001 0 01-2 2.83V11a1 1 0 11-2 0v-1a1 1 0 011-1 1 1 0 100-2zm0 8a1 1 0 100-2 1 1 0 000 2z"
						clip-rule="evenodd"></path>
				</svg> ¿Qué es exactamente un prototipo y cómo puede beneficiar a mi proyecto?</span>
			<svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true"
				xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
				<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
					d="M9 5 5 1 1 5" />
			</svg>
		</button>
	</h2>
	<div id="accordion-open-body-1" class="hidden" aria-labelledby="accordion-open-heading-1">
		<div class="p-5 border border-b-0 border-gray-200 dark:border-zinc-700">
			<p class="mb-2 text-gray-500 dark:text-gray-400">Un prototipo es una representación funcional y visual de tu
				producto digital antes de su desarrollo completo. Te permite visualizar y probar aspectos clave como el
				diseño, la usabilidad y la funcionalidad, lo que facilita la toma de decisiones informadas, ahorra
				tiempo y reduce costos potenciales al identificar y solucionar problemas desde el principio.</p>
		</div>
	</div>
	<h2 id="accordion-open-heading-2">
		<button type="button"
			class="flex items-center justify-between w-full p-5 font-medium rtl:text-right text-gray-500 border border-b-0 border-gray-200 focus:ring-4 focus:ring-gray-200 dark:focus:ring-zinc-800 dark:border-zinc-700 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-zinc-800 gap-3"
			data-accordion-target="#accordion-open-body-2" aria-expanded="false" aria-controls="accordion-open-body-2">
			<span class="flex items-center"><svg class="w-5 h-5 me-2 shrink-0" fill="currentColor" viewBox="0 0 20 20"
					xmlns="http://www.w3.org/2000/svg">
					<path fill-rule="evenodd"
						d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-3a1 1 0 00-.867.5 1 1 0 11-1.731-1A3 3 0 0113 8a3.001 3.001 0 01-2 2.83V11a1 1 0 11-2 0v-1a1 1 0 011-1 1 1 0 100-2zm0 8a1 1 0 100-2 1 1 0 000 2z"
						clip-rule="evenodd"></path>
				</svg> ¿Cuánto tiempo tarda en desarrollarse un prototipo?</span>
			<svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true"
				xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
				<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
					d="M9 5 5 1 1 5" />
			</svg>
		</button>
	</h2>
	<div id="accordion-open-body-2" class="hidden" aria-labelledby="accordion-open-heading-2">
		<div class="p-5 border border-b-0 border-gray-200 dark:border-zinc-700">
			<p class="mb-2 text-gray-500 dark:text-gray-400">El tiempo de desarrollo de un prototipo puede variar
				dependiendo de la complejidad del proyecto y de tus requisitos específicos. Generalmente, puede tomar
				desde unas pocas semanas hasta un par de meses. Trabajaremos estrechamente contigo para establecer un
				cronograma realista y eficiente.</p>
		</div>
	</div>
	<h2 id="accordion-open-heading-3">
		<button type="button"
			class="flex items-center justify-between w-full p-5 font-medium rtl:text-right text-gray-500 border border-gray-200 focus:ring-4 focus:ring-gray-200 dark:focus:ring-zinc-800 dark:border-zinc-700 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-zinc-800 gap-3"
			data-accordion-target="#accordion-open-body-3" aria-expanded="false" aria-controls="accordion-open-body-3">
			<span class="flex items-center"><svg class="w-5 h-5 me-2 shrink-0" fill="currentColor" viewBox="0 0 20 20"
					xmlns="http://www.w3.org/2000/svg">
					<path fill-rule="evenodd"
						d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-3a1 1 0 00-.867.5 1 1 0 11-1.731-1A3 3 0 0113 8a3.001 3.001 0 01-2 2.83V11a1 1 0 11-2 0v-1a1 1 0 011-1 1 1 0 100-2zm0 8a1 1 0 100-2 1 1 0 000 2z"
						clip-rule="evenodd"></path>
				</svg> ¿Puedo participar en el proceso de prototipado?</span>
			<svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true"
				xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
				<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
					d="M9 5 5 1 1 5" />
			</svg>
		</button>
	</h2>
	<div id="accordion-open-body-3" class="hidden" aria-labelledby="accordion-open-heading-3">
		<div class="p-5 border border-t-0 border-gray-200 dark:border-zinc-700">
			<p class="mb-2 text-gray-500 dark:text-gray-400">Absolutamente. Valoramos tu participación y feedback
				durante todo el proceso de prototipado. Tu conocimiento y visión del proyecto son fundamentales para
				asegurarnos de que el prototipo cumpla con tus expectativas y objetivos.</p>
		</div>
	</div>
	<h2 id="accordion-open-heading-4">
		<button type="button"
			class="flex items-center justify-between w-full p-5 font-medium rtl:text-right text-gray-500 border border-gray-200 focus:ring-4 focus:ring-gray-200 dark:focus:ring-zinc-800 dark:border-zinc-700 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-zinc-800 gap-3"
			data-accordion-target="#accordion-open-body-4" aria-expanded="false" aria-controls="accordion-open-body-4">
			<span class="flex items-center"><svg class="w-5 h-5 me-2 shrink-0" fill="currentColor" viewBox="0 0 20 20"
					xmlns="http://www.w3.org/2000/svg">
					<path fill-rule="evenodd"
						d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-3a1 1 0 00-.867.5 1 1 0 11-1.731-1A3 3 0 0113 8a3.001 3.001 0 01-2 2.83V11a1 1 0 11-2 0v-1a1 1 0 011-1 1 1 0 100-2zm0 8a1 1 0 100-2 1 1 0 000 2z"
						clip-rule="evenodd"></path>
				</svg> ¿Qué nivel de detalle puedo esperar en el prototipo?</span>
			<svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true"
				xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
				<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
					d="M9 5 5 1 1 5" />
			</svg>
		</button>
	</h2>
	<div id="accordion-open-body-4" class="hidden" aria-labelledby="accordion-open-heading-4">
		<div class="p-5 border border-t-0 border-gray-200 dark:border-zinc-700">
			<p class="mb-2 text-gray-500 dark:text-gray-400">El nivel de detalle dependerá de tus necesidades y del
				objetivo del prototipo. Puede variar desde un diseño básico de alta fidelidad que muestra la apariencia
				y el flujo del usuario, hasta un prototipo completamente interactivo con funcionalidades casi completas.
			</p>
		</div>
	</div>
	<h2 id="accordion-open-heading-5">
		<button type="button"
			class="flex items-center justify-between w-full p-5 font-medium rtl:text-right text-gray-500 border border-gray-200 focus:ring-4 focus:ring-gray-200 dark:focus:ring-zinc-800 dark:border-zinc-700 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-zinc-800 gap-3"
			data-accordion-target="#accordion-open-body-5" aria-expanded="false" aria-controls="accordion-open-body-5">
			<span class="flex items-center"><svg class="w-5 h-5 me-2 shrink-0" fill="currentColor" viewBox="0 0 20 20"
					xmlns="http://www.w3.org/2000/svg">
					<path fill-rule="evenodd"
						d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-3a1 1 0 00-.867.5 1 1 0 11-1.731-1A3 3 0 0113 8a3.001 3.001 0 01-2 2.83V11a1 1 0 11-2 0v-1a1 1 0 011-1 1 1 0 100-2zm0 8a1 1 0 100-2 1 1 0 000 2z"
						clip-rule="evenodd"></path>
				</svg> ¿Qué pasa si necesito realizar cambios en el prototipo?</span>
			<svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true"
				xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
				<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
					d="M9 5 5 1 1 5" />
			</svg>
		</button>
	</h2>
	<div id="accordion-open-body-5" class="hidden" aria-labelledby="accordion-open-heading-5">
		<div class="p-5 border border-t-0 border-gray-200 dark:border-zinc-700">
			<p class="mb-2 text-gray-500 dark:text-gray-400">Los cambios son una parte normal y esperada del proceso de
				prototipado. Estamos preparados para realizar ajustes basados en tus comentarios y en los resultados de
				las pruebas de usuario para asegurarnos de que el prototipo final cumpla con todas tus necesidades.</p>
		</div>
	</div>
	<h2 id="accordion-open-heading-6">
		<button type="button"
			class="flex items-center justify-between w-full p-5 font-medium rtl:text-right text-gray-500 border border-gray-200 focus:ring-4 focus:ring-zinc-200 dark:focus:ring-zinc-800 dark:border-zinc-700 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-zinc-800 gap-3"
			data-accordion-target="#accordion-open-body-6" aria-expanded="false" aria-controls="accordion-open-body-6">
			<span class="flex items-center"><svg class="w-5 h-5 me-2 shrink-0" fill="currentColor" viewBox="0 0 20 20"
					xmlns="http://www.w3.org/2000/svg">
					<path fill-rule="evenodd"
						d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-3a1 1 0 00-.867.5 1 1 0 11-1.731-1A3 3 0 0113 8a3.001 3.001 0 01-2 2.83V11a1 1 0 11-2 0v-1a1 1 0 011-1 1 1 0 100-2zm0 8a1 1 0 100-2 1 1 0 000 2z"
						clip-rule="evenodd"></path>
				</svg> ¿Puedo usar el prototipo para presentaciones o pitches a inversores?</span>
			<svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true"
				xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
				<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
					d="M9 5 5 1 1 5" />
			</svg>
		</button>
	</h2>
	<div id="accordion-open-body-6" class="hidden" aria-labelledby="accordion-open-heading-6">
		<div class="p-5 border border-t-0 border-gray-200 dark:border-zinc-700">
			<p class="mb-2 text-gray-500 dark:text-gray-400">Sí, los prototipos son herramientas excelentes para
				presentaciones y pitches, ya que permiten a los inversores y otras partes interesadas entender mejor tu
				concepto y visualizar el producto final.</p>
		</div>
	</div>
</section>
</Layout>

<style>
    @keyframes fadeIn {
		from {
			opacity: 0;
			scale: 25%;
		}
		to {
			opacity: 1;
			scale: 100%;
		}
	}

	.animated-img {
		view-timeline-name: --image;
		view-timeline-axis: block;
		animation-timeline:  --image;
		animation-name: fadeIn;
		animation-range: entry 25% cover 50%;
		animation-fill-mode: both;
	}

	@keyframes zoom {
		from {
			scale: 0%;
		}
		to {
			scale: 100%;
		}
	}

	.animated-banner {
		view-timeline-name: --image;
		view-timeline-axis: block;
		animation-timeline: --image;
		animation-name: zoom;
		animation-range: entry 0% cover 90%;
		animation-fill-mode: both;
	}
</style>
