---
import Layout from "../layouts/Layout.astro";
---

<Layout title="En mantenimiento">
    <section class="mt-7">
        <div class="container-fluid">
            <div
                class="h-screen flex justify-center items-center 2xl:px-0 px-5"
            >
                <div class="block text-center">
                    <!-- <img class="block rounded-full 2xl:w-60 w-32 m-auto mb-10" src="assets/img/profile.jpg"> -->
                    <h1
                        class="block 2xl:text-4xl text-xl font-semibold mb-5 dark:text-white"
                    >
                        ¡Hey, me pillaste!
                    </h1>
                    <h6
                        class="2xl:text-lg text-gray-800 dark:text-gray-400 font-light mb-10"
                    >
                        Aún sigo trabajando en esta página. Date una vueltita
                        por mi portafolio en <span class="italic"
                            >Pinterest</span
                        > mientras tanto.
                    </h6>
                    <a
                        class="text-center block lg:w-2/6 w-full m-auto bg-blue-500 rounded-full py-3 px-6 text-white transition-opacity
                    2xl:text-xl font-semibold
                    hover:bg-blue-600"
                        href="https://www.pinterest.es/valentramos/"
                        target="_blank"
                    >
                        Ver portafolio
                    </a>
                    <a
                        href="/"
                        class="mt-12 dark:text-gray-300 block underline hover:dark:text-white"
                        >Volver al Inicio</a
                    >
                </div>
            </div>
        </div>
    </section>
</Layout>
