---
import Layout from "../layouts/Layout.astro";

---

<Layout 
    title="ProyektaTech" 
    description="En ProyektaTech somos muy afortunados por estar rodeados de personas maravillosas, increíbles y talentosas. Personas divertidas, arriesgadas, rebeldes, enérgicas, proactivas y responsables."
    keywords="educación, tecnología, STEAM, La Paz, Bolivia"
>
    <section>
        <div class="xl:w-6/12 lg:w-9/12 mx-auto">
            <div class="mx-auto grid  grid-cols-1 items-center gap-5 pt-32 px-4">

                <div class="text-center">
                    <!-- <img class="rounded-lg m-auto w-2/6 mb-16" src="/img/proyektatech/logo.png"> -->
                    <!-- <h1
                        class=" font-semibold text-transparent text-4xl bg-clip-text bg-gradient-to-r from-[#1AC1A9] via-[#207BA8] to-[#11378c] mt-20">
                        Todos los grandes hombres y mujeres del mundo son personas que dan, no toman.
                    </h1> -->
                    <div class="m-auto mb-10 px-4 border-x-4">
                        <p class="italic text-gray-600 dark:text-gray-300 mt-2">Publico este breve "artículo" para expresar
                            mi sincero agradecimiento a esta gran iniciativa llamada ProyektaTech que me da la oportunidad
                            de crecer, empatizar, desarrollar y potenciar mis aptitudes como líder; a los y las voluntarias
                            que me han acompañado en toda esta gestión, por su apoyo, cariño, energía, buen humor, rebeldía
                            y compañia.</p>
                    </div>

                    <!-- Después de 1 año seguimos dedicándonos a esa misión. -->
                    <img class="rounded-lg m-auto w-full" src="/img/proyektatech/valent-init.png">
                    <p class="italic text-gray-600 dark:text-gray-300 mt-2">Primer encuentro post-pandemia, junio 2021</p>
                    <p class="mt-4 mb-8 text-gray-600 dark:text-gray-300 lg:text-xl lg:font-light">En junio de 2021, se
                        formó una
                        iniciativa en la ciudad de El Alto para crear una
                        metodología de enseñanza que brinde información sobre las carreras S.T.E.M a
                        estudiantes de bachillerato y ayudar a descubrir su talento en el proceso.
                    </p>
                </div>

            </div>
        </div>
    </section>

    <section>
        <div class="xl:w-6/12 lg:w-9/12 mx-auto">
            <div class="mx-auto grid grid-cols-1 items-center pb-14 gap-5 px-4">

                <div class="text-center">
                    <h1
                        class=" font-semibold text-transparent md:text-4xl text-2xl bg-clip-text bg-gradient-to-r from-[#1AC1A9] via-[#207BA8] to-[#11378C] lg:mt-20 mt-5">
                        Esta es una de las cosas que solo ProyektaTech puede hacer.
                    </h1>

                    <p class="mt-4 mb-8 text-gray-600 dark:text-gray-300 lg:text-xl lg:font-light">En esta gestión visitamos
                        escuelas de los municipios de El Alto, Viacha, Coroico, Mecapaca y Achocalla. Llegando a más de 600 estudiantes de bachillerato, quiénes nos acogieron con gran entusiasmo, energía y una gran curiosidad por la tecnología.
                    </p>

                    <div class="overflow-hidden text-gray-700">
                        <div class="mx-auto">
                            <div class="flex flex-wrap -m-1 md:-m-2">
                                <div class="flex flex-wrap w-1/2">
                                    <div class="w-1/2 p-1 md:p-2">
                                        <img alt="gallery" class="block object-cover object-center w-full h-full rounded-lg"
                                            src="/img/proyektatech/th-1.JPG">
                                    </div>
                                    <div class="w-1/2 p-1 md:p-2">
                                        <img alt="gallery" class="block object-cover object-center w-full h-full rounded-lg"
                                            src="/img/proyektatech/th-2.JPG">
                                    </div>
                                    <div class="w-full p-1 md:p-2">
                                        <img alt="gallery" class="block object-cover object-center w-full h-full rounded-lg"
                                            src="/img/proyektatech/th-5.JPG">
                                    </div>
                                </div>
                                <div class="flex flex-wrap w-1/2">
                                    <div class="w-full p-1 md:p-2">
                                        <img alt="gallery" class="block object-cover object-center w-full h-full rounded-lg"
                                            src="/img/proyektatech/th-4.JPG">
                                    </div>
                                    <div class="w-1/2 p-1 md:p-2">
                                        <img alt="gallery" class="block object-cover object-center w-full h-full rounded-lg"
                                            src="/img/proyektatech/th-3.JPG">
                                    </div>
                                    <div class="w-1/2 p-1 md:p-2">
                                        <img alt="gallery" class="block object-cover object-center w-full h-full rounded-lg"
                                            src="/img/proyektatech/th-6.JPG">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </section>

    <section>
        <div class="xl:w-6/12 lg:w-9/12 mx-auto">
            <div class="mx-auto grid grid-cols-1 items-center pb-14 gap-5 px-4">

                <div class="text-center">
                    <h1
                        class=" font-semibold text-transparent md:text-4xl text-2xl bg-clip-text bg-gradient-to-r from-[#1AC1A9] via-[#207BA8] to-[#11378C] lg:mt-20 mt-5">
                        La vida es demasiado corta como para ser modestos con nuestro talento.
                    </h1>

                    <p class="mt-4 mb-8 text-gray-600 dark:text-gray-300 lg:text-xl lg:font-light">En ProyektaTech somos
                        muy afortunados por estar rodeados de personas maravillosas, increíbles y talentosas. Personas divertidas, arriesgadas, rebeldes, enérgicas, proactivas y responsables. Seres humanos que brindan su tiempo y energía a una causa en común: "Expandir las áreas STEAM para que los jóvenes puedan transformar sus vidas y así transformar nuestra sociedad"
                    </p>

                    <div class="overflow-hidden text-gray-700">
                        <div class="mx-auto">
                            <div class="flex flex-wrap -m-1 md:-m-2">
                                <div class="flex flex-wrap w-1/2">
                                    <div class="w-1/2 p-1 md:p-2">
                                        <img alt="gallery" class="block object-cover object-center w-full h-full rounded-lg"
                                            src="/img/proyektatech/py-3.jpg">
                                    </div>
                                    <div class="w-1/2 p-1 md:p-2">
                                        <img alt="gallery" class="block object-cover object-center w-full h-full rounded-lg"
                                            src="/img/proyektatech/py-7.jpg">
                                    </div>
                                    <div class="w-full p-1 md:p-2">
                                        <img alt="gallery" class="block object-cover object-center w-full h-full rounded-lg"
                                            src="/img/proyektatech/py-4.jpg">
                                    </div>
                                </div>
                                <div class="flex flex-wrap w-1/2">
                                    <div class="w-full p-1 md:p-2">
                                        <img alt="gallery" class="block object-cover object-center w-full h-full rounded-lg"
                                            src="/img/proyektatech/py-5.jpg">
                                    </div>
                                    <div class="w-1/2 p-1 md:p-2">
                                        <img alt="gallery" class="block object-cover object-center w-full h-full rounded-lg"
                                            src="/img/proyektatech/py-6.jpg">
                                    </div>
                                    <div class="w-1/2 p-1 md:p-2">
                                        <img alt="gallery" class="block object-cover object-center w-full h-full rounded-lg"
                                            src="/img/proyektatech/py-1.jpg">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </section>

    <section>
        <div class="xl:w-6/12 lg:w-9/12 mx-auto">
            <div class="mx-auto grid grid-cols-1 items-center pb-14 gap-5 px-4">

                <div class="text-center">
                    <h1
                        class=" font-semibold text-transparent md:text-4xl text-2xl bg-clip-text bg-gradient-to-r from-[#1AC1A9] via-[#207BA8] to-[#11378C] lg:mt-20 mt-5">
                        El gran potencial nos obliga a cumplir nuestra misión.
                    </h1>

                    <p class="mt-4 mb-8 text-gray-600 dark:text-gray-300 lg:text-xl lg:font-light">
                        Si bien algunas cosas han cambiado a lo
                        largo de este proceso, nunca hemos dejado de
                        llegar a más estudiantes. Lo que puedo decir con certeza es que llegamos a un
                        momento de mucho potencial, logramos un equipo muy talentoso y dedicado. Eso no
                        debería hacernos descansar tranquilos.
                    </p>

                    <img class="rounded-lg m-auto w-full" src="/img/proyektatech/t-3.jpg">
                </div>

            </div>
        </div>
    </section>

    <section>
        <div class="xl:w-6/12 lg:w-9/12 mx-auto">
            <div class="mx-auto grid grid-cols-1 items-center pb-14 gap-5 px-4">

                <div class="text-center">
                    <h1
                        class=" font-semibold text-transparent md:text-4xl text-2xl bg-clip-text bg-gradient-to-r from-[#1AC1A9] via-[#207BA8] to-[#11378C] lg:mt-20 mt-5">
                        Ha sido un viaje increíble hasta ahora, sin embargo, apenas hemos comenzado
                    </h1>

                    <p class="mt-4 mb-8 text-gray-600 dark:text-gray-300 lg:text-xl lg:font-light">
                        Sé que el tiempo de pandemia y post-pandemia nos ha puesto a prueba a cada uno de
                        nosotros de maneras que nunca imaginamos. Se nos ha pedido a todos que nos
                        adaptemos, nos ha exigido un compromiso adicional en áreas de nuestra vida que se
                        extienden mucho más allá de nuestro trabajo o estudio. Pero también sabemos lo que
                        cada uno de nosotros ha logrado durante este proceso y que debemos sentirnos
                        orgullosos por eso. Por último, sabemos que se avecinan días aún más brillantes.
                    </p>

                    <img class="rounded-lg m-auto w-full" src="/img/proyektatech/py-11.jpg">
                </div>

            </div>
        </div>
    </section>

    <section>
        <div class="xl:w-6/12 lg:w-9/12 mx-auto">
            <div class="mx-auto grid grid-cols-1 items-center pb-14 gap-5 px-4">

                <div class="text-center">
                    <h1
                        class=" font-semibold text-transparent md:text-4xl text-2xl bg-clip-text bg-gradient-to-r from-[#34a0bd] via-[#a579e5] to-[#ed4150] lg:mt-20 mt-5">
                        Estoy agradecido por coincidir y trabajar contigo.
                    </h1>

                    <p class="mt-4 mb-8 text-gray-600 dark:text-gray-300 lg:text-xl lg:font-light">Da igual el tamaño de la organización, da lo mismo el sector, no importa el producto o servicio, que, si todos asumimos alguna responsabilidad en empezar con el PORQUÉ y motivamos a los demás a que hagan lo mismo, entonces, entre todos, podemos cambiar el mundo. Y eso sí que es una gran motivación.
                    </p>

                    <img class="m-auto rounded-full w-16" src="/img/proyektatech/profile.jpg">
                    <p class="italic text-gray-600 dark:text-gray-300 mt-2">Atte.: Valent</p>
                </div>

            </div>
        </div>
    </section>
</Layout>
