<footer class="p-4 md:p-8 lg:p-10">
    <div class="mx-auto max-w-screen-xl text-center">
        <a href="/" class="inline-block justify-center items-center text-2xl font-semibold text-gray-900 dark:text-white">
            <img src="/favicon.svg" class="h-8 sm:h-8" alt="Valent Logo">            
        </a>
        <h2 class="mt-6 mb-2 text-2xl font-bold dark:text-white">Donde la creatividad encuentra la innovación.</h2>
        <p class="mb-6 text-gray-500 dark:text-gray-200">Creando experiencias digitales que dejan huella.</p>
        <a href="https://www.pinterest.es/valentramos" target="_blank" class="inline-flex items-center font-medium text-blue-500 hover:underline">
            Ver portafolio
            <svg class="w-4 h-4 ms-2 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
            </svg>
        </a> 
        <ul class="flex flex-wrap justify-center items-center my-6 text-gray-900 dark:text-gray-200">
            <li>
                <a href="/" class="mr-4 hover:underline md:mr-6 ">Valent</a>
            </li>
            <li>
                <a href="/" class="mr-4 hover:underline md:mr-6">Pear Team</a>
            </li>
            <li>
                <a href="https://ecossmarket.org/" target="_blank" class="mr-4 hover:underline md:mr-6 ">Ecoss Market</a>
            </li>
            <li>
                <a href="/maintenance" class="mr-4 hover:underline md:mr-6">Vinance</a>
            </li>
            <li>
                <a href="/proyektatech/" class="mr-4 hover:underline md:mr-6">ProyectaTech</a>
            </li>
            <li>
                <a href="https://valentramos.github.io/mipega-landingpage/" target="_blank" class="mr-4 hover:underline md:mr-6">Mi Pega</a>
            </li>
        </ul>

        <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8" />

        <div class="sm:flex sm:items-center sm:justify-between">
            <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2024 <a href="https://flowbite.com/" class="hover:underline">Valent</a>. Todos los derechos reservados.
            </span>
            <div class="flex mt-4 sm:justify-center sm:mt-0">
                <a href="https://www.facebook.com/ignacio.valent.ramos/" target="_blank" class="text-gray-500 hover:text-gray-900 dark:hover:text-white">
                    <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 8 19">
                          <path fill-rule="evenodd" d="M6.135 3H8V0H6.135a4.147 4.147 0 0 0-4.142 4.142V6H0v3h2v9.938h3V9h2.021l.592-3H5V3.591A.6.6 0 0 1 5.592 3h.543Z" clip-rule="evenodd"/>
                      </svg>
                    <span class="sr-only">Facebook page</span>
                </a>
                <a href="https://github.com/valentramos" target="_blank" class="text-gray-500 hover:text-gray-900 dark:hover:text-white ms-5">
                    <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                          <path fill-rule="evenodd" d="M10 .333A9.911 9.911 0 0 0 6.866 19.65c.5.092.678-.215.678-.477 0-.237-.01-1.017-.014-1.845-2.757.6-3.338-1.169-3.338-1.169a2.627 2.627 0 0 0-1.1-1.451c-.9-.615.07-.6.07-.6a2.084 2.084 0 0 1 1.518 1.021 2.11 2.11 0 0 0 2.884.823c.044-.503.268-.973.63-1.325-2.2-.25-4.516-1.1-4.516-4.9A3.832 3.832 0 0 1 4.7 7.068a3.56 3.56 0 0 1 .095-2.623s.832-.266 2.726 1.016a9.409 9.409 0 0 1 4.962 0c1.89-1.282 2.717-1.016 2.717-1.016.366.83.402 1.768.1 2.623a3.827 3.827 0 0 1 1.02 2.659c0 3.807-2.319 4.644-4.525 4.889a2.366 2.366 0 0 1 .673 1.834c0 1.326-.012 2.394-.012 2.72 0 .263.18.572.681.475A9.911 9.911 0 0 0 10 .333Z" clip-rule="evenodd"/>
                    </svg>
                    <span class="sr-only">GitHub account</span>
                </a>
            </div>
        </div>
    </div>
</footer>