---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="stylesheet" href="https://use.typekit.net/lgx2adh.css">
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Valent - Astro</title>
	</head>
  <body class="bg-white dark:bg-black">
    <main>
        <slot />
    </main>
  </body>
</html>

<style is:global>
	html {
		font-family: museo-sans, sans-serif;
	}
    .display-none {
        display: none;
    }
</style>