---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Analytics from "../components/Analytics.astro";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="stylesheet" href="https://use.typekit.net/lgx2adh.css">
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
        
        <title>Valent | {Astro.props.title || 'IG'}</title>
        <meta name="description" content={Astro.props.description || 'Sitio web personal, servicios de prototipado, diseño y desarrollo'} />
        <meta name="keywords" content={Astro.props.keywords || 'PM, Product design, Web design, UI, UX, Adobe XD, Astro, Angular, Wordpress '}>

        <Analytics/>
	</head>
    
    <body class="bg-white dark:bg-black">
        <Header/>
        <main>
            <slot />
        </main>
        <Footer />
        <script is:inline src="/js/flowbite.min.js"></script>
    </body>
</html>

<script>
    const suinIcon = document.querySelector(".sun");
    const moonIcon = document.querySelector(".moon");
    const userTheme = localStorage.getItem("theme");
    const systemTheme = window.matchMedia("prefers-color-scheme: dark").matches;
    const iconToggle = () => {
        moonIcon?.classList.toggle("display-none");
        suinIcon?.classList.toggle("display-none");
    }
    const themeCheck = () => {
        if (userTheme === "dark" || (!userTheme && systemTheme)) {
            document.documentElement.classList.add("dark");
            moonIcon?.classList.add("display-none");
            return;
        }
        suinIcon?.classList.add("display-none");
    }
    const themeSwitch = () => {
        if (document.documentElement.classList.contains("dark")) {
            document.documentElement.classList.remove("dark");
            localStorage.setItem("theme", "light");
            iconToggle();
            return;
        }
        document.documentElement.classList.add("dark");
        localStorage.setItem("theme", "dark");
        iconToggle();
    }
    suinIcon?.addEventListener("click", () => {
        themeSwitch();
    });
    moonIcon?.addEventListener("click", () => {
        themeSwitch();
    });
    themeCheck();
</script>

<style is:global>
	html {
		font-family: museo-sans, sans-serif;
	}
    .display-none {
        display: none;
    }
    @keyframes fadeIn {
        from {
            opacity: 0;
            scale: 25%;
        }
        to {
            opacity: 1;
            scale: 100%;
        }
    }

    .animated-img {
        view-timeline-name: --image;
        view-timeline-axis: block;
        animation-timeline: --image;
        animation-name: fadeIn;
        animation-range: entry 25% cover 50%;
        animation-fill-mode: both;
    }
</style>