---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import BaseHead from "../components/BaseHead.astro";

const { title, description, keywords, image} = Astro.props;
---

<html lang="en" transition:animate="slide">
	<BaseHead title={title} description={description} keywords={keywords} image={image} />
    <body class="bg-white dark:bg-black p-4 sm:p-0">
        <Header/>
        <main>
            <slot />
        </main>
        <Footer />
        <script is:inline src="/js/flowbite.min.js"></script>
    </body>
</html>

<style is:global>
	html {
		font-family: museo-sans, sans-serif;
	}
    .display-none {
        display: none;
    }
    @keyframes fadeIn {
        from {
            opacity: 0;
            scale: 25%;
        }
        to {
            opacity: 1;
            scale: 100%;
        }
    }

    .animated-img {
        view-timeline-name: --image;
        view-timeline-axis: block;
        animation-timeline: --image;
        animation-name: fadeIn;
        animation-range: entry 25% cover 50%;
        animation-fill-mode: both;
    }
</style>